/* font family specified */
html,
body{
	font-family: "Poppins";
	font-size: 15px;
	background-color: hsl(0, 0%, 98%);
}

div#main-content{
	max-width: 1440px;
	margin: auto;
}

p {
	color: hsl(229, 6%, 66%);
}

div#title{
	text-align: center;
    padding-top: 70px;
    padding-bottom: 60px;
}

div#title div{
	font-size: 30px;
	color: hsl(229, 6%, 66%);
	font-weight: 200;
}

div#title h1,
.card h2 {
		color: hsl(234, 12%, 34%);
		font-weight: 600;
	}

div#title h1{
	margin-top: 0;
	font-size: 32px;
}

div#title p{
	width: 520px;
	margin: auto;
}

/*setup width, height and flex css for the cards div */
#four-cards {
	display: flex;
	justify-content: center;
	max-width: 1400px;
	margin: auto;
	height: 600px;
}

#four-cards .column {
	display: flex;
	flex-direction: column;
    justify-content: center;
	padding: 15px; 
}
/* css for each card */
	#four-cards .card {
		border-top-left-radius: 7px;
		border-top-right-radius: 7px;
		padding: 15px  27px;
		height: 240px;
		width: 360px;
		box-shadow: 0px 10px 20px hsl(229, 6%, 66%);
	}

#four-cards .card p{
	width: 300px;
	line-height: 27px;
}

/* vertically center the supervisor 
and calculator card div */
#four-cards .column #supervisor,
#four-cards .column #calculator{
	align-self: center; 
}

/* 4 top for colors */
#four-cards #supervisor{
	border-top: 5px solid hsl(180, 62%, 55%);	
}

#four-cards .column #builder{
	border-top: 5px solid hsl(0, 78%, 62%);
	margin-bottom: 30px;
}

#four-cards .column #karma{
	border-top: 5px solid hsl(34, 97%, 64%);
}

#four-cards #calculator{
	border-top: 5px solid hsl(212, 86%, 64%);
}

#four-cards #supervisor p{
	width: 270px;
}

#four-cards #calculator p{
	width: 300px;
}

img {
	width: 50px;
	height: 50px;
	display: block;
	margin-left: auto;
}